body {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 24px;
}

* {
    box-sizing: border-box;
}

.visually-hidden, .react-datepicker__day-names {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

/*header*/

.mainHeader, .secondaryHeader {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mainHeader {
    background-image: url('../src/img/mainHeaderTrain.jpg');
}

.secondaryHeader {
    background-image: url('../src/img/secondaryHeaderTrain.jpg');
}

.logo {
    font-weight: 900;
    font-size: 1.5em;
    color: #E5E5E5; 
    padding: 15px 13%;
    background: rgba(0, 0, 0, 0.6);
}

.mainMenu {
    padding: 26px 13%;
    background: #292929;
}

.mainMenu_item {
    font-weight: 300;
    font-size: 1.25em;
    text-decoration: none;
    color: #FFFFFF;
}

.mainMenu_item:nth-child(n + 2) {
    margin-left: 4%;
}

.mainHeaderContainer {
    display: flex;
    padding: 253px 10% 0 10%;
    align-items: center;
}

.slogan {
    font-weight: 100;
    font-size: 3em;
    color: #FFFFFF;
    margin-right: 5%;
}

.bold {
    font-weight: 700;
}

/*header form*/

.mainHeaderForm {
    background: rgba(41, 41, 41, 0.8);
    padding: 79px 24px 52px 21px;
    width: 730px;
}

.secondaryHeaderForm {
    width: 80%;
    background: rgba(41, 41, 41, 0.8);
    padding: 28px 42px 76px;
    margin: 111px 10% 0;
}

.inTwoLines {
    width: 100%;
}

.inOneLine {
    display: flex;
    justify-content: space-between;
    max-width: 1490px;
}

.formDiscription {
    font-weight: 300;
    font-size: 1.25em;
    line-height: 2.2em;
    color: #FFFFFF;
}

.inputGroup {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2.5em;
}

.directionInput, .dateInput {
    position: relative;
}

.directionInput::before, .dateInput::before {
    content: '';
    width: 0.8em;
    height: 1.25em;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    right: 15px;
    top: 20%;
}

.directionInput::before {
    background-image: url(../src/img/location.svg);
}

.dateInput::before {
    background-image: url(../src/img/calendar.svg);
    z-index: 99;
}

.dateInput:nth-child(n + 2) {
    margin-left: 1.6em;
}

div.react-datepicker__header {
    background-color: #FFFFFF;
    padding: 15px 0;
    text-transform: capitalize;
}

span.react-datepicker__navigation-icon {
    top: 7px;
}

span.react-datepicker__navigation-icon::before {
    height: 4px;
    width: 4px;
    border-color: #000000;
}

div.react-datepicker__day--outside-month {
    color: #c0bec2;
}

div.react-datepicker__day--selected {
    color: #000000;
    background: rgba(255, 168, 0, 0.31);
    border: 2px solid #FFA800;
    border-radius: 5px;
}

.formControl {
    font-family: 'Roboto';
    color: #292929;
    font-weight: 400;
    font-size: 0.75em;
    text-transform: capitalize;
    background: #FFFFFF;
    border-radius: 3px;
    padding: 0.8em 2.9em 0.45em 0.875em;
    outline: none;
}

.formControlInTripTools {
    padding: 0.8em 0.4em 0.45em 0.875em;
}

.swapDirection {
    width: 1em;
    height: 1em;
    background-image: url(../src/img/swap.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0.3em;
}

.directionsList {
    width: 100%;
    position: absolute;
    list-style-type: none;
    padding: 14px 22px;
    margin-top: 5px;
    background: #F5F4F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;    
    z-index: 1; 
}

.directionsListItem {
    font-weight: 400;
    font-size: 0.75em;
    line-height: 1.3em;
    font-variant: small-caps;
    color: #292929;
    cursor: pointer;
}

.btnBox {
    display: flex;
    justify-content: flex-end;
}

.searchBtn {
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #292929;
    background: #FFA800;
    border-radius: 5px;
    padding: 16px 68px;
}

.btn:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn:active {
    color: #FFA800;
    background: #E5E5E5;
    border: 1px solid #FFA800;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*about*/

.aboutSection {
    padding: 145px 15%;
}

.aboutHeader {
    font-weight: 500;
    text-transform: uppercase;
}

.aboutContent {
    border-left: 7px solid #FFA800;
    padding-left: 20px;
}

/*howItWorks*/

.howItWorksSection {
    color: #FFFFFF;
    background-image: url('../src/img/howItWorks/howItWorks.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 60px 15%;
}

.howItWorksContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.howItWorksHeader {
    font-weight: 500;
    font-size: 1.5em;
    text-transform: uppercase;
}

.howItWorksLink {
    color: #FFFFFF;
    padding: 1em 4%;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
}

.benefitsBox {
    display: flex;
    justify-content: space-between;
    padding: 3em 13%;
}

.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefitPic {
    width: 5.625em;
    height: 5.625em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0.6em solid rgba(229, 229, 229, 0.2);
    border-radius: 50%;
    margin-bottom: 1.4em;
}

.benefitFirst {
    background-image: url('../src/img/howItWorks/PC.png');
}

.benefitSecond {
    background-image: url('../src/img/howItWorks/houses.png');
}

.benefitThird {
    background-image: url('../src/img/howItWorks/world.png');
}

.benefitDiscription {
    width: 9em;
    text-align: center;
}

/*reviews*/

.reviews {
    padding: 50px 13% 0;
}

.reviewsTitle {
    font-weight: 500;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.reviewsContainer {
    display: flex;
}

.reviewItem {
    display: flex;
    align-items: center;
    width: 46.5%;
}

.reviewItem:nth-child(n + 2) {
    margin-left: 7%;
}

.reviewAuthorAvatar {
    width: 33%;
    height: 8.3em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.author1 {
    background-image: url('../src/img/author1.jpg');
}

.author2 {
    background-image: url('../src/img/author2.jpg');
}

.reviewBox {
    width: 66%;
    font-size: 0.75em;
    margin-left: 24px;
}

.reviewAuthorName {
    font-weight: 500;
    margin-bottom: 24px;
}

.reviewText {
    font-weight: 300;
    font-style: italic;
}

.reviewsControls {
    display: flex;
    padding: 60px 50px;
    justify-content: center;
    cursor: pointer;
}

.reviewControl {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: #E5E5E5;
} 

.reviewControl:nth-child(n + 2) {
    margin-left: 0.4em;
}

.reviewControlActive {
    background-color: #C4C4C4;
}

/*stage*/

.stageBar {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #3E3C41;
}

.stageItem {
    display: flex;
    font-weight: 700;
    background-color: #3E3C41;
    padding: 20px 35px;
}

.stageItem:first-child {
    padding-left: 10%;
}

.stageItemActive {
    background-color: #FFA800;
}

.stageNumber {
    width: 56px;
    font-size: 39px;
    color: #FFFFFF;
    text-align: center;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
}

.stageName {
    color: #FFFFFF;
    font-size: 1.25em;
    margin: 0.25em 0 0 20px;
}

.stageArrow {
    width: 38px;
    height: calc(1.5em + 46px);
    background-image: url('../src/img/arrow.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.stageArrowActive {
    width: 0;
    height: 0;
    border: 45px solid transparent;
    border-left-color: #FFA800;
    border-right: 0;
}

/*Tickets*/

.mainContainer {
    display: flex;
    background: #F7F5F9;
    padding: 95px 10% 193px;
    margin: auto;
}

.leftPanel {
    width: 20%;
    min-width: 300px;
}

.rightPanel {
    width: 75%;
    min-width: 700px;
    margin-left: 5%;
}

/*tripTools*/

.tripTools {
    width: 100%;
    background-color: #3E3C41;
}

.tripToolsSection {
    padding: 30px;
}

.tripToolsSection:nth-child(n + 2) {
    border-top: 1px solid #E5E5E5; 
}

.tripToolsSection .dateInput {
    margin-left: 0;
}

.dateInput {
    margin-bottom: 24px;
}

.tripTollsItem {
    display: flex;
    align-items: center;
}

.tripTollsItem:nth-child(n + 2) {
    margin-top: 35px;
}

.tripTollsItemPic {
    width: 22px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.compartmentWagon {
    background-image: url('./img/tripTools/compartmentWagon.png');
}

.reservedWagon {
    background-image: url('./img/tripTools/reservedWagon.png');
}

.sittingWagon {
    background-image: url('./img/tripTools/sittingWagon.png');
}

.luxWagon {
    background-image: url('./img/tripTools/luxWagon.png');
}

.wifiWagon {
    background-image: url('./img/tripTools/wifiWagon.png');
}

.express {
    background-image: url('./img/tripTools/express.png');
}

.tripTollsItemDiscripton {
    color: #FFFFFF;
    font-size: 0.75em;
    margin-left: 35px;
}

.tripTollsItemSwitchTrue, .tripTollsItemSwitchFalse {
    width: 3em;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 0;
    margin-left: auto;
}

.tripTollsItemSwitchTrue {
    background-image: url('../src/img/tripTools/off.png');
}

.tripTollsItemSwitchFalse {
    background-image: url('../src/img/tripTools/on.png')
}

.fromToTitle {
    display: flex;
    justify-content: space-between;
}

.fromToTitle_text {
    font-size: 0.75em;
    line-height: 0.875em;
    color: #FFFFFF;
}

div.input-range {
    margin-bottom: 32px;
}

div.input-range__track {
    height: 19px;
    background: #3E3C41;
    border: 1px solid #C4C4C4;
    border-radius: 8px;
}

div.input-range__track--active {
    background: #FFA800;
    border: none;
}

div.input-range__slider {
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: none;
    margin-top: -22px;
}

span.input-range__label {
    top: 30px;
    font-size: 16px;
    color: #E5E5E5; 
}

span.input-range__label--max {
    right: 10px;
}

span.input-range__label--value {
    top: 5px;
    font-size: 16px;
    color: #E5E5E5;
}

.tripToolsSectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tripToolsSectionHeaderBox {
    display: flex;
    align-items: center;
}

.tripToolsSectionHeaderPicThere, .tripToolsSectionHeaderPicBack {
    width: 36px;
    height: 26px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 12px;
}

.tripToolsSectionHeaderPicThere {
    background-image: url('./img/tripTools/there.png');
}

.tripToolsSectionHeaderPicBack {
    background-image: url('./img/tripTools/back.png');
}

.tripToolsSectionHeaderToggle {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.closed {
    background-image: url('./img/tripTools/closed.png');
}

.closed:hover, .opened:hover {
    background-image: url('./img/tripTools/closedHover.png');
}

.opened {
    background-image: url('./img/tripTools/opened.png');
}

.tripToolsSectionHeaderText {
    font-weight: 700;
    font-size: 1.25em;
    color: #FFFFFF;
}

.tripTollsTimeDiscription {
    display: block;
    font-weight: 400;
    color: #E5E5E5;
    margin-bottom: 15px;
}

.tripTollsTimeDiscriptionBack {
    margin-top: 45px;
    text-align: right;
}

.tripTollsTime, .tripTollsCost {
    width: 100%;
}

/*lastRoutes*/

.sectionHeader {
    font-weight: 500;
    font-size: 1.25em;
    text-transform: uppercase;  
    color: #000000;
    margin: 94px 0 26px;
}

.lastRouteItem {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 2px 2px rgba(62, 60, 65, 0.25);
    padding: 15px;
}

.lastRouteItem:nth-child(n + 2) {
    margin-top: 17px;
}

.lastRouteCities, .lastRouteStations, .lastRouteDetails {
    display: flex;
    justify-content: space-between;
}

.lastRouteCities {
    font-size: 0.83em;
    text-transform: capitalize;
    color: #292929;
    margin-bottom: 5px;
}

.lastRouteStations {
    font-size: 0.67em;
    color: #928F94;
    margin-bottom: 30px;
}

.lastRouteDetailsPrice {
    display: flex;
    align-items: baseline;
    font-size: 0.67em;
    color: #928F94;
}

.lastRouteDetailsPriceFigure {
    font-weight: 700;
    font-size: 1.5em;
    color: #FFA800;
    margin-left: 5px;
}

.lastRouteDetailsPriceСurrency, .seatsPriceСurrency {
    width: 20px;
    height: 1em;
    background-image: url('../src/img/rub.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*sortingPanel*/

.sortingPanel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 0.75em;
    color: #928F94;
}

.sortingBox {
    display: flex;
    align-items: baseline;
}

.sortBy {
    position: relative;
    width: 100px;
    margin-left: 5px;
    color: #2D2B2F;
}

.sortingList {
    position: absolute;
    top: -7px;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #F7F5F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sortingItem {
    padding: 7px;
    border-bottom: 1px solid #E5E5E5;
}

.sortingItem:hover {
    color: #FFFFFF;
    background: #FFCA62;
}

.limitsBox {
    margin-left: 5px;
}

.limitNumber {
    margin-left: 10px;
    cursor: pointer;
}

.choosenSortItem {
    color: #2D2B2F;
}

/*routes*/

.routes_routeContainer {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 47px;
}

.routes_routeContainerLeftSide {
    width: 20%;
    background-color: #E4E0E9;
    padding: 30px 18px 30px 26px;
}

.routes_routeTrainPicBorder {
    display: flex;
    width: 86px;
    height: 86px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    margin: auto;
}

.routes_routeTrainPic {
    width: 44px;
    height: 52px;
    background-image: url('../src/img/routes/routeTrain.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: auto;
}

.routes_routeName {
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    color: #3E3C41;
    margin-top: 17px;
}

.routes_routeItinerary {
    font-size: 0.67em;
    line-height: 0.89em;
    color: #292929;
    text-transform: capitalize;
    margin-top: 15px;
}

.routes_routeItineraryFromBox {
    display: flex;
}

.routes_routeItineraryAroow {
    width: 13px;
    height: 10px;
    background-image: url('../src/img/routes/routeArrow1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5px;
}

.routes_routeDetails {
    display: flex;
    width: 80%;
}

.routes_timing {
    display: flex;
    width: 65%;
    padding: 54px 40px 0;
    margin-left: auto;
    margin-right: auto;
    border-right: 1px dashed #E5E5E5;
}

.routes_timingTime {
    font-weight: 700;
    font-size: 1em;
    color: #000000;
}

.routes_timingCity {
    font-size: 0.7em;
    color: #292929;
    text-transform: capitalize;
}

.routes_timingStation {
    font-size: 0.67em;
    color: #928F94;
    text-transform: capitalize;
}

.routes_duration {
    margin: 0 40px;
}

.routes_durationTime {
    font-size: 0.75em;
    color: #C4C4C4;
}

.routes_yellowArrowPic {
    width: 30px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}

.routes_yellowArrowPic_trainStart {
    background-image: url('../src/img/routes/start.png');
}

.routes_yellowArrowPic_trainEnd {
    background-image: url('../src/img/routes/end.png');
}

.routes_seats {
    padding: 48px 20px 24px 34px;
}

.seatsBox {
    font-size: 0.67em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.seatsType {
    color: #3E3C41;
}

.seatsDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seatsQuantity {
    font-weight: 500;
    color: #FFA800;
    margin: 0 15px 0 5px;
}

.seatsPrice {
    display: flex;
    align-items: center;
    color: #928F94;
}

.seatsPriceFigure {
    font-weight: 700;
    font-size: 1.5em;
    color: #2D2B2F;
    margin: 0 5px;
}

.seatsPriceСurrency {
    width: 16px;
    height: 17px;
}

.routesBtn {
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    color: #FFFFFF;
    padding: 6px 15px;
    background-color: #FFA800;
    border: none;
    border-radius: 5px;
}

/*pages*/

.pages {
    display: flex;
    justify-content: end;
    margin-top: 142px;
}

.pages_boxArrow {
    display: flex;
    width: 84px;
    height: 75px;
    border: 2px solid #C4C4C4;
    border-radius: 5px;
    cursor: pointer;
}

.pages_boxArrow:first-child {
    margin-right: 35px;
}

.pages_leftArrow, .pages_rightArrow {
    width: 18px;
    height: 29px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}

.pages_leftArrow {
    background-image: url('../src/img/routes/pageLeft.png');
}

.pages_rightArrow {
    background-image: url('../src/img/routes/pageRight.png');
}

.pageNumber {
    font-weight: 700;
    font-size: 1.25em;
    text-align: center;
    color: #928F94;
    width: 84px;
    height: 75px;
    padding: 20px 0;
    margin-right: 35px;
    border: 2px solid #C4C4C4;
    border-radius: 5px;
    cursor: pointer;
}

.pageNumber:hover {
    color: #FFA800;
    border: 2px solid #FFA800;
}

.pageNumberActive {
    color: #FFFFFF;
    background: #FFA800;
}

.pageNumberActive:hover {
    color: #FFFFFF;
}

/*seats*/

.seats {
    display: flex;
    flex-direction: column;
}

.sectionSeats {
    margin-top: 0;
    margin-bottom: 48px;
}

.seatsBtn {
    align-self: flex-end;
    margin-top: 70px;
    text-transform: uppercase;
    padding: 16px 70px;
}

/*train*/

.train {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}

.header_trainStart, .header_trainEnd {
    display: flex;
    padding: 36px 20px 32px;
}

.header_trainEnd {
    justify-content: flex-end;
}

.headerPic_trainStart, .headerPic_trainEnd {
    width: 76px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.headerPic_trainStart {
    background-image: url('../src/img/train/start.png');
}

.headerPic_trainEnd {
    background-image: url('../src/img/train/end.png');
}

.changeTrainBtn {
    font-size: 1em;
    font-weight: 700;
    border: 1px solid #292929;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 15px 34px;
    margin: 0 10px;
}

.train_header {
    font-weight: 700;
    font-size: 1.25em;
    color: #292929;
    padding: 40px 0 15px 20px;
}

.train_typesContainer {
    display: flex;
    padding: 10px 30px 25px;
}

.train_typesItem {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.train_typesPic {
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 20px;
}

.train_typesPic_fourth {
    background-image: url('../src/img/train/fourthClass.png');
}

.train_typesPic_third {
    background-image: url('../src/img/train/thirdClass.png');
}

.train_typesPic_second {
    background-image: url('../src/img/train/secondClass.png');
}

.train_typesPic_first {
    background-image: url('../src/img/train/firstClass.png')
}

.train_typesPic_fourthActive {
    background-image: url('../src/img/train/fourthClassActive.png');
}

.train_typesPic_thirdActive {
    background-image: url('../src/img/train/thirdClassActive.png');
}

.train_typesPic_secondActive {
    background-image: url('../src/img/train/secondClassActive.png');
}

.train_typesPic_firstActive {
    background-image: url('../src/img/train/firstClassActive.png')
}

.train_typesName {
    font-size: 1em;
    color: #928F94;
}

.seats_coaches {
    height: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: rgba(255, 168, 0, 0.44);
}

.seats_coachesNumbers {
    display: flex;
    font-size: 0.75em;
}

.seats_coachNumber {
    color: #2D2B2F;
    font-weight: 700;
    margin-left: 5px;
    cursor: pointer;
}

.seats_coachNumberActive {
    color: #FFFFFF;
}

.seats_coachesText {
    font-size: 0.67em;
}

/*TrainDetails*/

.train_routeContainer {
    display: flex;
    background: #F7F6F6;
    align-items: center;
}

.train_routeTrainPic {
    width: 30px;
    height: 30px;
    background-image: url('../src/img/train/train.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 25px;
}

.train_routePath {
    margin: 15px 20px 15px 0;
}

.train_routeName {
    font-weight: 700;
}

.train_routeItinerary {
    font-size: 0.67em;
    line-height: 0.89em;
    color: #292929;
    text-transform: capitalize;
    margin-top: 5px;
}

.train_routeDetails {
    display: flex;
    margin-right: 20px;
    width: 50%;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 30px;
}

.train_duration {
    display: flex;
    align-items: center;
    width: 25%;
    padding-left: 30px;
}

.train_watch {
    width: 30px;
    height: 30px;
    background-image: url('../src/img/train/watch.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
}

.train_durationTime {
    font-size: 0.75em;
}

/*TrainTicketsQuantity*/

.train_quantityBox {
    display: flex;
    width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px dashed #C4C4C4;
}

.train_quantityItem {
    width: 33.3%;
    padding: 20px;
    border: 1px solid transparent;
}

.train_quantityItem:hover {
    border: 1px solid rgba(255, 168, 0, 0.79);
}

.train_quantityItem_adult {
    background: #F7F6F6;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.train_quantityItemBox {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #928F94;
    border-radius: 5px;
    padding: 15px;
    margin: 0 auto 23px;
}

.train_quantityItemSign {
    font-size: 0.75em;
    color: #292929;
}

.train_quantityItemInput {
    width: 40px;
    font-size: 0.75em;
    border: none;
    color: #292929;
    outline: none;
}

.train_quantityItemText {
    font-size: 0.67em;
    color: #000000;
}

.train_quantityItemTextChild {
    font-size: 0.67em;
    color: #928F94;
}

/*TrainCoach*/
.seats_coachDetails {
    display: flex;
    justify-content: space-between;
}

.seats_coachDetails_coach {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFD98F;
    padding: 30px 0 0 30px;
}

.seats_coachDetails_coachNumber {
    font-weight: 700;
    font-size: 3em;
    color: #292929;
}

.seats_coachDetails_itemHeader {
    display: flex;
    font-size: 0.75em;
    color: #928F94;
    margin: 30px 0 20px 0;
}

.seats_coachDetails_itemHeader_text {
    color: #C4C4C4;
    margin-left: 10px;
}

.seats_coachDetails_itemNumber {
    margin-left: 10px;
    color: #292929;
}

.seats_coachDetails_itemText {
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 20px;
}

.seats_coachDetails_itemText_quantity {
    font-weight: 700;
    margin-left: 10px;
}

.seats_coachDetails_price {
    font-weight: 700;
    margin-right: 10px;
}

.seats_coachDetails_servises {
    display: flex;
}

.seats_coachDetails_serviceBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 34.11px;
    border: 1px solid #292929;
    border-radius: 5px;
}

.seats_coachDetails_serviceBox_active {
    background: #FDB935;
    border: none;
}

.seats_coachDetails_serviceBox:nth-child(n + 2) {
    margin-left: 12px;
}

.seats_coachDetails_serviceBox:hover {
    background: #FFA800;
}

.serviceBox_notActive {
    background: #FCDC9D;
    border: none;
    border-radius: 5px;
}

.seats_coachDetails_servicePic, .seats_coachDetails_servicePic_notActive {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.seats_coachDetails_servicePic_notActive {
    opacity: 0.2;
}

.servicePic_air_conditioning {
    background-image: url('../src/img/services/air_conditioning_black.png');
}

.servicePic_air_conditioning_active {
    background-image: url('../src/img/services/air_conditioning_white.png');
}

.servicePic_wifi {
    background-image: url('../src/img/services/wifi_black.png');
}

.servicePic_wifi_active {
    background-image: url('../src/img/services/wifi_white.png');
}

.servicePic_linen {
    background-image: url('../src/img/services/linens_black.png');
}

.servicePic_linen_active {
    background-image: url('../src/img/services/linens_white.png');
}

.servicePic_food {
    background-image: url('../src/img/services/food_black.png');
}

.servicePic_food_active {
    background-image: url('../src/img/services/food_white.png');
}


/*footer*/

footer {
    background: #2D2B2F;
    color: #FFFFFF;
}

.footerTitle {
    font-size: 1.25em;
    font-weight: 500;
    margin: 0;
}

.footerContainer {
    display: flex;
    padding: 50px 18%;
}

.footerContactsList, .socialLink {
    list-style: none;
    padding: 0;
}

.footerContactsItem {
    display: flex;
    margin-top: 1.25em;
}

.footerContactsItemPicture {
    width: 1.25em;
    height: 1.25em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.phone {
    background-image: url('../src/img/footer/phone.png');
}

.mail {
    background-image: url('../src/img/footer/mail.png');
}

.skype {
    background-image: url('../src/img/footer/skype.png');
}

.address {
    background-image: url('../src/img/location.svg');
}

.footerContactsItemText {
    color: #FFFFFF;
    margin-left: 1.5em;
}

.footerSubscription {
    margin-left: 13%;
}

.footerForm {
    margin: 1.25em 0 1.8em;
}

.footerFormText {
    display: block;
    margin-bottom: 5px;
}

.footerFormInput {
    padding: 0.7em 21px;
    border-radius: 3px;
}

.subscriptionButton {
    color: #FFFFFF;
    margin-left: 1.375em;
    padding: 0.7em 15px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    background-color: #2D2B2F;
}

.subscriptionButton:hover {
    color: #2D2B2F;
    background: #FFCA62;
    border: 1px solid #FFCA62;
}

.subscriptionButton:active {
    color: #2D2B2F;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.footer_socialLinks {
    display: flex;
    padding: 0;
}

.socialLinkItem {
    display: block;
    width: 50px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 30px;
}

.youtube {
    background-image: url('../src/img/footer/youTube.png');
}

.youtube:active {
    background-image: url('../src/img/footer/youTubeActive.png');
}

.linkedin {
    background-image: url('../src/img/footer/linkedin.png');
}

.linkedin:active {
    background-image: url('../src/img/footer/linkedinActive.png');
}

.googlePlus {
    background-image: url('../src/img/footer/googlePlus.png');
}

.googlePlus:active {
    background-image: url('../src/img/footer/googlePlusActive.png');
}

.facebook {
    background-image: url('../src/img/footer/facebook.png');
}

.facebook:active {
    background-image: url('../src/img/footer/facebookActive.png');
}

.twitter {
    background-image: url('../src/img/footer/twitter.png');
}

.twitter:active {
    background-image: url('../src/img/footer/twitterActive.png');
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding: 22px 13% 33px;
    border-top: 1px solid #E5E5E5;
}

.footerLogo {
    font-size: 1.5em;
    font-weight: 900;
}

.up {
    width: 1.5em;
    height: 1.5em;
    background-image: url('../src/img/footer/up.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}