body {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

/*header*/

.mainHeader, .secondaryHeader {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mainHeader {
    background-image: url('../src/img/mainHeaderTrain.jpg');
}

.secondaryHeader {
    background-image: url('../src/img/secondaryHeaderTrain.jpg');
}

.logo {
    font-weight: 900;
    font-size: 1.5rem;
    color: #E5E5E5; 
    padding: 1rem 13%;
    background: rgba(0, 0, 0, 0.6);
}

.mainMenu {
    padding: 1.5rem 13%;
    background: #292929;
}

.mainMenu_item {
    font-weight: 300;
    font-size: 1.25rem;
    text-decoration: none;
    color: #FFFFFF;
}

.mainMenu_item:nth-child(n + 2) {
    margin-left: 4%;
}

.mainHeaderContainer {
    display: flex;
    padding: 13% 10% 0 10%;
    align-items: center;
}

.slogan {
    font-weight: 100;
    font-size: 3rem;
    color: #FFFFFF;
    margin-right: 5%;
}

.bold {
    font-weight: 700;
}

/*header form*/

.mainHeaderForm {
    background: rgba(41, 41, 41, 0.8);
    padding: 3.3rem 1rem 2.5rem;
    width: 730px;
}

.secondaryHeaderForm {
    width: 80%;
    background: rgba(41, 41, 41, 0.8);
    padding: 1rem 1rem 60px;
    margin: 100px 10% 0;
}

.inTwoLines {
    width: 100%;
}

.inOneLine {
    display: flex;
    justify-content: space-between;
    max-width: 1490px;
}

.formDiscription {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2.2rem;
    color: #FFFFFF;
}

.inputGroup {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.directionInput, .dateInput {
    position: relative;
}

.directionInput::before, .dateInput::before {
    content: '';
    width: 0.8rem;
    height: 1.25rem;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    right: 1rem;
    top: 30%;
}

.directionInput::before {
    background-image: url(../src/img/location.svg);
}

.dateInput::before {
    background-image: url(../src/img/calendar.svg);
}

.dateInput:nth-child(n + 2) {
    margin-left: 1.6rem;
}

.formControl {
    font-weight: 400;
    font-size: 0.75rem;
    background: #FFFFFF;
    border-radius: 3px;
    padding: 0.8rem 2.9rem 0.45rem 0.875rem;
    outline: none;
}

.swapDirection {
    width: 1rem;
    height: 1rem;
    background-image: url(../src/img/swap.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0.3rem;
}

.directionsList {
    width: 100%;
    position: absolute;
    list-style-type: none;
    padding: 0.625rem 0.8rem;
    margin-top: 5px;
    background: #F5F4F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;    
    z-index: 1; 
}

.directionsListItem {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.875rem;
    font-variant: small-caps;
    color: #292929;
    cursor: pointer;
}

.btnBox {
    display: flex;
    justify-content: flex-end;
}

.btn {
    font-weight: 700;
    
    text-align: center;
    text-transform: uppercase;
    color: #292929;
    background: #FFA800;
    border-radius: 5px;
    padding: 0.7rem 2.8rem;
}

/*stage*/

.stageBar {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #3E3C41;
}

.stageItem {
    display: flex;
    font-weight: 700;
    background-color: #3E3C41;
    padding: 20px 35px;
}

.stageItem:first-child {
    padding-left: 10%;
}

.stageItemActive {
    background-color: #FFA800;
}

.stageNumber {
    width: 2rem;
    font-size: 1.5rem;
    color: #FFFFFF;
    text-align: center;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
}

.stageName {
    color: #FFFFFF;
    font-size: 1.25rem;
    margin: 0.25rem 0 0 20px;
}

.stageArrow {
    width: 36px;
    height: calc(1.5rem + 46px);
    background-image: url('../src/img/arrow.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.stageArrowActive {
    width: 0;
    height: 0;
    border: 36px solid transparent;
    border-left-color: #FFA800;
    border-right: 0;
}

/*about*/

.aboutSection {
    padding: 145px 15%;
}

.aboutHeader {
    font-weight: 500;
    text-transform: uppercase;
}

.aboutContent {
    border-left: 7px solid #FFA800;
    padding-left: 20px;
}

/*howItWorks*/

.howItWorksSection {
    color: #FFFFFF;
    background-image: url('../src/img/howItWorks/howItWorks.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 2.5rem 15%;
}

.howItWorksContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.howItWorksHeader {
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.howItWorksLink {
    color: #FFFFFF;
    padding: 1rem 4%;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
}

.benefitsBox {
    display: flex;
    justify-content: space-between;
    padding: 3rem 13%;
}

.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefitPic {
    width: 5.625rem;
    height: 5.625rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0.6rem solid rgba(229, 229, 229, 0.2);
    border-radius: 50%;
    margin-bottom: 1.4rem;
}

.benefitFirst {
    background-image: url('../src/img/howItWorks/PC.png');
}

.benefitSecond {
    background-image: url('../src/img/howItWorks/houses.png');
}

.benefitThird {
    background-image: url('../src/img/howItWorks/world.png');
}

.benefitDiscription {
    width: 9rem;
    text-align: center;
}

/*reviews*/

.reviews {
    padding: 50px 13% 0;
}

.reviewsTitle {
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.reviewsContainer {
    display: flex;
}

.reviewItem {
    display: flex;
    align-items: center;
    width: 46.5%;
}

.reviewItem:nth-child(n + 2) {
    margin-left: 7%;
}

.reviewAuthorAvatar {
    width: 33%;
    height: 8.3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.author1 {
    background-image: url('../src/img/author1.jpg');
}

.author2 {
    background-image: url('../src/img/author2.jpg');
}

.reviewBox {
    width: 66%;
    font-size: 0.75rem;
    margin-left: 1rem;
}

.reviewAuthorName {
    font-weight: 500;
    margin-bottom: 1rem;
}

.reviewText {
    font-weight: 300;
    font-style: italic;
}

.reviewsControls {
    display: flex;
    padding: 60px 50px;
    justify-content: center;
}

.reviewControl {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #E5E5E5;
} 

.reviewControl:nth-child(n + 2) {
    margin-left: 0.4rem;
}

.reviewControlActive {
    background-color: #C4C4C4;
}

/*Tickets*/

.mainContainer {
    display: flex;
    background: #F7F5F9;
    padding: 95px 13% 193px;
}

.leftPanel {
    width: 18.75%;
    min-width: 250px;
}

.rightPanel {
    width: 55.25%;
    min-width: 700px;
    margin-left: 5%;
}

/*tripTools*/

.tripTools {
    width: 100%;
    background-color: #3E3C41;
}

.tripToolsSection {
    padding: 30px;
}

.tripToolsSection:nth-child(n + 2) {
    border-top: 1px solid #E5E5E5; 
}

.tripToolsSection .dateInput {
    margin-left: 0;
}

.dateInput {
    margin-bottom: 1rem;
}

.tripTollsItem {
    display: flex;
    align-items: center;
}

.tripTollsItem:nth-child(n + 2) {
    margin-top: 1.46rem;
}

.tripTollsItemPic {
    width: 22px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.compartmentWagon {
    background-image: url('./img/tripTools/compartmentWagon.png');
}

.reservedWagon {
    background-image: url('./img/tripTools/reservedWagon.png');
}

.sittingWagon {
    background-image: url('./img/tripTools/sittingWagon.png');
}

.luxWagon {
    background-image: url('./img/tripTools/luxWagon.png');
}

.wifiWagon {
    background-image: url('./img/tripTools/wifiWagon.png');
}

.express {
    background-image: url('./img/tripTools/express.png');
}

.tripTollsItemDiscripton {
    color: #FFFFFF;
    font-size: 0.75rem;
    margin-left: 35px;
}

.tripTollsItemSwitchTrue, .tripTollsItemSwitchFalse {
    width: 3rem;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 0;
    margin-left: auto;
}

.tripTollsItemSwitchTrue {
    background-image: url('../src/img/tripTools/off.png');
}

.tripTollsItemSwitchFalse {
    background-image: url('../src/img/tripTools/on.png')
}

.tripTollsItemSwitchInput {
    width: 1px;
    height: 1px;
}

.tripToolsSectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
}

.tripToolsSectionHeaderBox {
    display: flex;
    align-items: center;
}

.tripToolsSectionHeaderPicThere, .tripToolsSectionHeaderPicBack {
    width: 36px;
    height: 26px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
}

.tripToolsSectionHeaderPicThere {
    background-image: url('./img/tripTools/there.png');
}

.tripToolsSectionHeaderPicBack {
    background-image: url('./img/tripTools/back.png');
}

.tripToolsSectionHeaderToggle {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.closed {
    background-image: url('./img/tripTools/closed.png');
}

.opened {
    background-image: url('./img/tripTools/opened.png');
}

.tripToolsSectionHeaderText {
    font-weight: 700;
    font-size: 1.25rem;
    color: #FFFFFF;
}

.tripTollsTimeDiscription {
    display: block;
    font-weight: 400;
    color: #E5E5E5;
    margin-bottom: 0.625rem;
}

.tripTollsTimeDiscriptionBack {
    margin-top: 1.9rem;
    text-align: right;
}

.tripTollsTime, .tripTollsCost {
    width: 100%;
}

/*lastRoutes*/

.lastRoutesHeader {
    font-weight: 500;
    font-size: 1.25rem;
    text-transform: uppercase;  
    color: #000000;
    text-align: center;
    margin: 94px 0 26px;
}

.lastRouteItem {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 2px 2px rgba(62, 60, 65, 0.25);
    padding: 15px;
}

.lastRouteItem:nth-child(n + 2) {
    margin-top: 17px;
}

.lastRouteCities, .lastRouteStations, .lastRouteDetails {
    display: flex;
    justify-content: space-between;
}

.lastRouteCities {
    font-size: 0.83rem;
    text-transform: capitalize;
    color: #292929;
    margin-bottom: 5px;
}

.lastRouteStations {
    font-size: 0.67rem;
    color: #928F94;
    margin-bottom: 30px;
}

.lastRouteDetailsPrice {
    display: flex;
    align-items: baseline;
    font-size: 0.67rem;
    color: #928F94;
}

.lastRouteDetailsPriceFigure {
    font-weight: 700;
    font-size: 1.5rem;
    color: #FFA800;
    margin-left: 5px;
}

.lastRouteDetailsPrice–°urrency {
    width: 20px;
    height: 1rem;
    background-image: url('../src/img/rub.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*sortingPanel*/

.sortingPanel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 0.75rem;
    color: #928F94;
}

.sortingBox {
    display: flex;
    align-items: baseline;
}

.sortBy {
    position: relative;
    width: 100px;
    margin-left: 5px;
    color: #2D2B2F;
}

.sortingList {
    position: absolute;
    top: -7px;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #F7F5F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sortingItem {
    padding: 7px;
    border-bottom: 1px solid #E5E5E5;
}

.sortingItem:hover {
    color: #FFFFFF;
    background: #FFCA62;
}

.limitsBox {
    margin-left: 5px;
}

.limitNumber {
    margin-left: 10px;
    cursor: pointer;
}

.choosenSortItem {
    color: #2D2B2F;
}

/*footer*/

footer {
    background: #2D2B2F;
    color: #FFFFFF;
}

.footerTitle {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
}

.footerContainer {
    display: flex;
    padding: 50px 18%;
}

.footerContactsList, .socialLink {
    list-style: none;
    padding: 0;
}

.footerContactsItem {
    display: flex;
    margin-top: 1.25rem;
}

.footerContactsItemPicture {
    width: 1.25rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.phone {
    background-image: url('../src/img/footer/phone.png');
}

.mail {
    background-image: url('../src/img/footer/mail.png');
}

.skype {
    background-image: url('../src/img/footer/skype.png');
}

.address {
    background-image: url('../src/img/location.svg');
}

.footerContactsItemText {
    color: #FFFFFF;
    margin-left: 1.5rem;
}

.footerSubscription {
    margin-left: 13%;
}

.footerForm {
    margin: 1.25rem 0 1.8rem;
}

.footerFormText {
    display: block;
    margin-bottom: 5px;
}

.footerFormInput {
    padding: 0.7rem 21px;
    border-radius: 3px;
}

.subscriptionButton {
    color: #FFFFFF;
    margin-left: 1.375rem;
    padding: 0.7rem 15px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    background-color: #2D2B2F;
}

.footer_socialLinks {
    display: flex;
    padding: 0;
}

.socialLinkItem {
    display: block;
    width: 50px;
    height: 1.25rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.youtube {
    background-image: url('../src/img/footer/youTube.png');
}

.instagram {
    background-image: url('../src/img/footer/instagram.png');
}

.googlePlus {
    background-image: url('../src/img/footer/googlePlus.png');
}

.facebook {
    background-image: url('../src/img/footer/facebook.png');
}

.twitter {
    background-image: url('../src/img/footer/twitter.png');
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding: 22px 13% 33px;
    border-top: 1px solid #E5E5E5;
}

.footerLogo {
    font-size: 1.5rem;
    font-weight: 900;
}

.up {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('../src/img/footer/up.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}